@model IEnumerable<ExamManagement.Models.Ent_Register>

@{
    ViewBag.Title = "ViewAllstudent";
    Layout = "~/Views/Shared/TeacherLayout.cshtml";
}
<style>
    th {
        background-color:aqua;
         border:1px solid #808080;
        text-align:center;
        padding:15px;
    }
    td {
        border:1px solid #808080;
        text-align:center;
       color:white;
    }
    </style>

<div class="inner-banner-w3ls py-5" id="home">
        <div class="container py-xl-5 py-lg-3">
            <!-- login  -->
            <div class="modal-body my-5 pt-4">
                <h3 class="title-w3 mb-5  text-wh font-weight-bold"style="margin-left:15%;">STUDENTS</h3>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table style="border:1px solid cyan;padding:5px;border-radius:4px;width:100%;">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Department
        </th>
        <th>
            Image
        </th>
        <th>
            password
        </th>
       @* <th>
            EntryDate
        </th>*@
        <th>
            Status
        </th>
        @*<th>
            Role
        </th>*@
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       @* <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>*@
       @* <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
                </div>
            </div>
    </div>
